<!DOCTYPE html>
<html>
    <head>
        <style>
            table, th, td {
            border: 1px solid;
            border-collapse: collapse;
            }
        </style>
    </head>
    <body>
        <h1> discord-dl</h1>

        <h3 id = "channel_id"></h3>
        <h3 id = "guild_id"></h3>
        <button class = "prev"> Prev </button>
        <button class = "next"> Next </button>
        {{block "msgs" .}}
            <div id = "messages">
                {{range .Messages}}
                    {{$channel := .ChannelId}}
                    {{$guild := .GuildId}}
                    <div class = "message">
                        <ul>
                            <table>
                                <tr>
                                    <td>Message ID:</td>
                                    <td>{{.MessageId}}</td>
                                </tr>
                                <tr>
                                    <td>Channel ID:</td>
                                    <td class = "channel_id"> {{.ChannelId}}</li></td>
                                </tr>
                                <tr>
                                    <td>Guild ID:</td>
                                    <td class = "guild_id"> {{.GuildId}}</td>
                                </tr>
                                <tr>
                                    <td>Message Timestamp:</td>
                                    <td class = "message_timestamp"> {{.MessageTimestamp}}</td>
                                </tr>
                                <tr>
                                    <td>Sender ID:</td>
                                    <td> {{.SenderId }}</td>
                                </tr>
                                <tr>
                                    <td>Sender Name:</td>
                                    <td>{{.SenderName}}</td>
                                </tr>
                                {{if .ReplyTo}}
                                <tr>
                                    <td>Reply To:</td>
                                    <td>{{.ReplyTo}}</td>
                                </tr>
                                {{end}}
                                {{if .Content}}
                                <tr>
                                    <td>Content:</td>
                                    <td>{{.Content}}</td>
                                </tr>
                                {{end}}
                                {{if ne .EditTime "-1"}}
                                <tr>
                                    <td>Last Edit Time:</td>
                                    <td> {{.EditTime}}</td>
                                </tr>
                                {{end}}
                                {{if .ThreadId}}
                                <tr>
                                    <td>ThreadID:</td>
                                    <td> {{.ThreadId}}</td>
                                </tr>
                                {{end}}
                                {{if .ThreadPath}}
                                <tr>
                                    <td>Link to thread:</td>
                                    <td><a href="{{.ThreadPath}}">Click here</a></td>
                                </tr>
                                {{end}}
                            </table>

                            {{if .Edits}}
                            <details>
                            <summary>Edits</summary>
                            {{range .Edits}}
                                <table>
                                    <tr>
                                        <td>Edit Time:</td>
                                        <td>{{.EditTime}}</td>
                                    </tr>
                                    <tr>
                                        <td>Edit Content:</td>
                                        <td>{{.Content}}</td>
                                    </tr>
                                </table>
                            {{ end }}
                            </details>  
                            {{end}}

                            {{if .Embeds}}
                            <details>
                                <summary>Embeds</summary>
                            {{range .Embeds}}
                                <div class = "embed">
                                    <table>
                                        {{if .EmbedUrl}}
                                        <tr>
                                            <td>Embed URL:</td>
                                            <td>{{.EmbedUrl}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedTimestamp}}
                                        <tr>
                                            <td>Embed timestamp:</td>
                                            <td>{{.EmbedTimestamp}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedTitle}}
                                        <tr>
                                            <td>Embed title:</td>
                                            <td>{{.EmbedTitle}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedAuthorName}}
                                        <tr>
                                            <td>Embed author name:</td>
                                            <td>{{.EmbedAuthorName}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedAuthorUrl}}
                                        <tr>
                                            <td>Embed author URL:</td>
                                            <td>{{.EmbedAuthorUrl}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedDescription}}
                                        <tr>
                                            <td>Embed description:</td>
                                            <td>{{.EmbedDescription}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedField}}
                                        <tr>
                                            <td>Embed field:</td>
                                            <td>{{.EmbedField}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedFooter}}
                                        <tr>
                                            <td>Embed footer:</td>
                                            <td>{{.EmbedFooter}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedThumbnailUrl}}
                                        <tr>
                                            <td>Embed thumbnail URL:</td>
                                            <td>{{.EmbedThumbnailUrl}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedThumbnailHash}}
                                        <tr>
                                            <td>Embed thumbnail hash: </td>
                                            <td class = "thumbnail_hash">{{.EmbedThumbnailHash}}</td>
                                        </tr>
                                        {{end}}
                                        {{if .EmbedImageUrl}}
                                        <tr>
                                            <td>Embed image URL:</td>
                                            <td>{{.EmbedImageUrl}}</td>
                                        </tr>
                                        {{end}}
                                        {{ if .EmbedImageHash }}
                                        <tr>
                                            <td>Embed image hash: </td>
                                            <td class = "image_hash">{{.EmbedImageHash}}</td>
                                        </tr>
                                        {{end}}
                                        {{ if .EmbedVideoUrl }}
                                        <tr>
                                            <td>Embed video URL:</td>
                                            <td>{{.EmbedVideoUrl}}</td>
                                        </tr>
                                        {{end}}
                                        {{ if .EmbedVideoHash }}
                                        <tr>
                                            <td>Embed video hash: </td>
                                            <td class = "video_hash">{{.EmbedVideoHash}}</td>
                                        </tr>
                                        {{end}}

                                        {{ if .ResourcePathThumbnail }}
                                        <tr>
                                            <td><img width="320" height="240" src = "{{ .ResourcePathThumbnail }}" ></img></td>
                                        </tr>
                                        {{end}}
                                        {{ if .ResourcePathImage }}
                                        <tr>
                                            <td><img width="320" height="240" src = "{{ .ResourcePathImage }}" ></img></td>
                                        </tr>
                                        {{end}}
                                        {{ if .ResourcePathVideo}}
                                        <tr>
                                            <td><video width="320" height="240" src = "{{ .ResourcePathVideo }}" ></video></td>
                                        </tr>
                                        {{end}}
                                    </table>
                                </div>
                            {{ end }}
                            </details>
                            {{end}}

                            {{if .Attachments}}
                            <details>
                            <summary>Attachments:</summary>
                            {{range .Attachments}}
                                <div class = "attachment">
                                    <table>
                                        <tr>
                                            <td>Attachment ID:</td>
                                            <td>{{.AttachmentId}}</td>
                                        </tr>
                                        <tr>
                                            <td>Attachment Hash:</td>
                                            <td class = "attachment_hash">{{.AttachmentHash}}</td>
                                        </tr>
                                        <tr>
                                            <td>Attachment filename:</td>
                                            <td class = "attachment_filename">{{.AttachmentFilename}}</td>
                                        </tr>
                                        <tr>
                                            <td>Attachment URL </td>
                                            <td>{{.AttachmentUrl}}</td>
                                        </tr>
                                        <tr>
                                            {{ if eq .ResourceType "IMAGE"}}
                                            <img width="320" height="240" src = "{{ .ResourcePath }}"></img>
                                            {{ end }}
                                        </tr>
                                        <tr>
                                            {{ if eq .ResourceType "VIDEO" }}
                                            <video width="320" height="240" controls>
                                                <source src="{{ .ResourcePath }}">
                                            </video>
                                            {{ end }}
                                        </tr>
                                        <tr>
                                            <td>Link to file</td>
                                            <td><a href="{{ .ResourcePath }}">Click here</a></td>
                                        </tr>
                                    </table>
                                </div>
                            {{ end }}
                            </details>
                            {{end}}

                        </ul>
                    </div>
                {{ end }}
            </div>
        {{ end }}
        <button class = "prev"> Prev </button>
        <button class = "next"> Next </button>
    </body>
    <script>

    var topDate;
    var bottomDate;
    var guild_id;
    var channel_id;
    function setButtonsDisabled(val){
        document.getElementsByClassName("prev")[0].disabled = val;
        document.getElementsByClassName("prev")[1].disabled = val;
        document.getElementsByClassName("next")[0].disabled = val;
        document.getElementsByClassName("next")[1].disabled = val;
    }

    function nextButton(){
        //call endpoint
        let msgs = document.getElementById("messages");
        let date = parseInt(topDate)
        let xhr = new XMLHttpRequest();

        xhr.open("GET", "/"+guild_id+"/"+channel_id+"/"+date+"/next", true);
        xhr.onreadystatechange = function(){
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText.length == 79){
                    return
                }
                setButtonsDisabled(true);
                var e = document.getElementById("messages");
                e.outerHTML = xhr.responseText;
                console.log(xhr.status);
                topDate = document.getElementsByClassName("message_timestamp")[0].innerHTML
                bottomDate = document.getElementsByClassName("message_timestamp")[document.getElementsByClassName("message_timestamp").length-1].innerHTML
                console.log(topDate)
                console.log(bottomDate)
                setButtonsDisabled(false);
            }
        }
        try { xhr.send(); } catch (err) { 
            console.log(err)
            return;
        }
    }
    function prevButton(){
        //call endpoint
        let msgs = document.getElementById("messages");
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText.length == 79){
                    return
                }
                setButtonsDisabled(true);
                var e = document.getElementById("messages");
                e.outerHTML = xhr.responseText;
                console.log(xhr.status);
                topDate = document.getElementsByClassName("message_timestamp")[0].innerHTML
                bottomDate = document.getElementsByClassName("message_timestamp")[document.getElementsByClassName("message_timestamp").length-1].innerHTML
                console.log(topDate)
                console.log(bottomDate)
                setButtonsDisabled(false);
            }
        }
        let date = parseInt(bottomDate)
        xhr.open("GET", "/"+guild_id+"/"+channel_id+"/"+date+"/prev", true);
        try { xhr.send(); } catch (err) { 
            console.log(err)
            return;
        }
                
    }


    window.onload = function() {
        topDate = document.getElementsByClassName("message_timestamp")[0].innerHTML
        bottomDate = document.getElementsByClassName("message_timestamp")[document.getElementsByClassName("message_timestamp").length-1].innerHTML
        channel_id = document.getElementsByClassName("channel_id")[0].innerHTML;
        guild_id = document.getElementsByClassName("guild_id")[0].innerHTML;
        let s= document.getElementById("channel_id");
        s.innerHTML = "Channel ID: " + channel_id;

        s= document.getElementById("guild_id");
        s.innerHTML= "Guild ID: " + guild_id;
        document.getElementsByClassName("prev")[0].addEventListener("click", prevButton);
        document.getElementsByClassName("prev")[1].addEventListener("click", prevButton);
        document.getElementsByClassName("next")[0].addEventListener("click", nextButton);
        document.getElementsByClassName("next")[1].addEventListener("click", nextButton);

    };
    </script>
</html>