<!DOCTYPE html>
<html>
    <body>

    <h1> discord-dl</h1>

        <h3 id = "channel_id"></h3>
        <h3 id = "guild_id"></h3>
        <button class = "prev"> Prev </button>
        <button class = "next"> Next </button>
        {{block "msgs" .}}
            <div id = "messages">
                {{range .Messages}}
                    {{$channel := .Channel_id}}
                    {{$guild := .Guild_id}}
                    <div class = "message">
                        <ul>
                            <li>Message ID: {{.Message_id}}</li>
                            Channel ID:
                            <li class = "channel_id"> {{.Channel_id}}</li>
                            Guild ID:
                            <li class = "guild_id"> {{.Guild_id}}</li>
                            Message Timestamp:
                            <li class = "message_timestamp"> {{.Message_timestamp}}</li>
                            <li>Sender ID: {{.Sender_id }}</li>
                            <li>Sender Name: {{.Sender_name}}</li>
                            <li>Reply To: {{.Reply_to}}</li>
                            <li>Content: {{.Content}}</li>
                            <li>Last Edit Time: {{.Edit_time}}</li>

                            {{range .Edits}}
                                <li>Edit Time: {{.Edit_time}}</li>
                                <li>Edit Content: {{.Content}}</li>
                            {{ end }}

                            {{range .Embeds}}
                                <div class = "embed">
                                    <li>Embed URL: {{.Embed_url}}</li>
                                    <li>Embed timestamp: {{.Embed_timestamp}}</li>
                                    <li>Embed title: {{.Embed_title}}</li>
                                    <li>Embed author name: {{.Embed_author_name}}</li>
                                    <li>Embed author URL: {{.Embed_author_url}}</li>
                                    <li>Embed description: {{.Embed_description}}</li>
                                    <li>Embed field: {{.Embed_field}}</li>
                                    <li>Embed footer: {{.Embed_footer}}</li>
                                    <li>Embed thumbnail URL: {{.Embed_thumbnail_url}}</li>
                                    Embed thumbnail hash: 
                                    <li class = "thumbnail_hash">{{.Embed_thumbnail_hash}}</li>
                                    <li>Embed image URL: {{.Embed_image_url}}</li>
                                    Embed image hash: 
                                    <li class = "image_hash">{{.Embed_image_hash}}</li>

                                    {{ if .Resource_path_thumbnail }}
                                    <img width="320" height="240" src = "{{ .Resource_path_thumbnail }}" ></img>
                                    {{end}}
                                    {{ if .Resource_path_image }}
                                    <img width="320" height="240" src = "{{ .Resource_path_image }}" ></img>
                                    {{end}}

                                </div>
                            {{ end }}

                            {{range .Attachments}}
                                <div class = "attachment">
                                    <li>Attachment ID: {{.Attachment_id}}</li>
                                    Attachment Hash:
                                    <li class = "attachment_hash">{{.Attachment_hash}}</li>
                                    Attachment filename:
                                    <li class = "attachment_filename"> {{.Attachment_filename}}</li>
                                    <li>Attachment URL {{.Attachment_url}}</li>
                                    <li>Resource type {{.Resource_type}}</li>
                                    {{ if eq .Resource_type "IMAGE"}}
                                        <img width="320" height="240" src = "{{ .Resource_path }}"></img>
                                    {{ end }}
                                    {{ if eq .Resource_type "VIDEO" }}
                                        <video width="320" height="240" controls>
                                            <source src="{{ .Resource_path }}">
                                        </video>
                                    {{ end }}
                                    <br>
                                    <a href="{{ .Resource_path }}">Link to file</a>
                                </div>
                            {{ end }}
                        </ul>
                    </div>
                {{ end }}
            </div>
        {{ end }}
        <button class = "prev"> Prev </button>
        <button class = "next"> Next </button>
    </body>
    <script>
    class DoublyLinkedList {
        constructor() {
            this.head = null;
            this.tail = null;
            this.length = 0;
        }
        insertNode(){
            //create node.
            this.length = this.length + 1;
            let curr = createNode(this.length);
            //set new node tail to curr node head
            curr.previous = page;
            //set curr head to new node tail
            page.next = curr;
            //set page to curr
            page = curr;
            this.head = page;
        }
    }
    function createNode(value) {
        let elements = document.getElementsByClassName("message_timestamp");
        
        let u = elements[0].innerHTML;
        let l = elements[elements.length-1].innerHTML;
        return {
        value: value,
        upperDate: u,
        lowerDate: l,
        next: null,
        previous: null,
        }
    };

    function setButtonsDisabled(val){
        document.getElementsByClassName("prev")[0].disabled = val;
        document.getElementsByClassName("prev")[1].disabled = val;
        document.getElementsByClassName("next")[0].disabled = val;
        document.getElementsByClassName("next")[1].disabled = val;
    }

    function nextButton(){
        //call endpoint
        let msgs = document.getElementById("messages");
        let date = parseInt(page.lowerDate) - 1
        let xhr = new XMLHttpRequest();
        xhr.open("GET", "/"+guild_id+"/"+channel_id+"/"+date+"/next", true);
        xhr.onreadystatechange = function(){
            if (xhr.readyState == 4 && xhr.status == 200) {
                setButtonsDisabled(true);
                var e = document.getElementById("messages");
                e.outerHTML = xhr.responseText;
                console.log(xhr.status);

                if (page === dLinkedList.head){
                    dLinkedList.insertNode();
                }else{
                    page = page.next;
                }

                setButtonsDisabled(false);
            }
        }
        try { xhr.send(); } catch (err) { 
            console.log(err)
            return;
        }
    }
    function prevButton(){
        //call endpoint
        let msgs = document.getElementById("messages");
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
            if (xhr.readyState == 4 && xhr.status == 200) {
                setButtonsDisabled(true);
                var e = document.getElementById("messages");
                e.outerHTML = xhr.responseText;
                console.log(xhr.status);
                        //if curr node val == 1, do nothing
                if (page == dLinkedList.tail){
                    return;
                }else{
                    page = page.previous;
                }
                setButtonsDisabled(false);
            }
        }
        let date = parseInt(page.previous.upperDate) + 1
        xhr.open("GET", "/"+guild_id+"/"+channel_id+"/"+date+"/prev", true);
        try { xhr.send(); } catch (err) { 
            console.log(err)
            return;
        }        
    }
    var page;
    var guild_id;
    var channel_id;
    var dLinkedList;
    window.onload = function() {

        dLinkedList = new DoublyLinkedList();
        page = createNode(1)
        dLinkedList.head=page;
        dLinkedList.tail = page;
        dLinkedList.length = 1;

        channel_id = document.getElementsByClassName("channel_id")[0].innerHTML;
        guild_id = document.getElementsByClassName("guild_id")[0].innerHTML;
        let s= document.getElementById("channel_id");
        s.innerHTML = "Channel ID: " + channel_id;

        s= document.getElementById("guild_id");
        s.innerHTML= "Guild ID: " + guild_id;
        document.getElementsByClassName("prev")[0].addEventListener("click", prevButton);
        document.getElementsByClassName("prev")[1].addEventListener("click", prevButton);
        document.getElementsByClassName("next")[0].addEventListener("click", nextButton);
        document.getElementsByClassName("next")[1].addEventListener("click", nextButton);
    };
    </script>
</html>